# Python virtual environments
.venv/
venv/
env/
ENV/
*.pyc
__pycache__/

# ChromaDB local storage & local data
task_4_chroma_db/
chroma_db/
*.sqlite3
*.log
*.tmp
.ipynb_checkpoints/

# PDF Documents (usually kept local, not in git)
*.pdf

# API keys and environment variables
.env
.env_key

# OS specific files
.DS_Store
Thumbs.db
